body {
    overflow: hidden;
}

.flex_item {
    display: flex;
}

.main {
    font-family: Nunito;
    justify-content: center;
    width: 100%
}

.chat {
    flex-direction: column;
    width: 700px;
    height: 100vh;
}

@media screen and (max-width: 800px) {
  .chat {
    min-width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

.chat__output-window {
    flex-direction: column;
    flex-grow: 1;

    overflow-y: auto;
}

.chat__output-window::-webkit-scrollbar {
 display: none;
}

.output-window__message {
    margin-bottom: 20px;
}


.output-window__message__their {
    margin-left: 100px;
}


.output-window__message__another {
    margin-right: 100px;
}


.chat__input-message {
    width: 100%;
}

.input-message__message {
    width: 100%;
    margin: 30px 0px;
    padding: 10px;
    box-sizing: border-box;
    border: 0;

    background: radial-gradient(492.22% 664.29% at 46.4% -224.44%, rgba(249, 234, 255, 0.44) 0%, rgba(211, 221, 255, 0.38) 100%);
    box-shadow: inset 0px 4px 17px rgba(0, 0, 0, 0.04);

    font-size: 16px;
    font-family: 'Nunito';

    transition-duration: .3s;
}

@media screen and (max-width: 800px) {
  .chat {
    font-size: 24px;
  }
}

.input-message__message__empty {
    width: 100%;
    margin: 30px 0px;
    padding: 10px;
    box-sizing: border-box;
    border: 0;

    background: radial-gradient(492.22% 664.29% at 46.4% -224.44%, rgba(238, 11, 38, 0.44) 0%, rgba(255, 211, 214, 0.38) 100%);
    box-shadow: inset 0px 4px 17px rgba(0, 0, 0, 0.04);

    font-size: 16px;
    font-family: 'Nunito';

    transition-duration: .3s;
}

.input-message__message:focus {
    border: 0;

    box-shadow: inset 0px 4px 17px rgba(0, 0, 0, 0.08);

    outline:none;
}

.welcome_window {
    min-width: 100vw;
    min-height: 100vh;
    background-color:white;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.welcome_window_button {
    font-family: Nunito;
}

.title {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 144px;
    line-height: 169px;
    text-align: center;
    background: radial-gradient(858% 2293.84% at 56.19% -374%, #CFC3F0 0%, #DCDCDC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #CFC3F0;
    margin: 0;
    
}

.title_empty {
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    font-size: 144px;
    line-height: 169px;
    text-align: center;
    background: radial-gradient(858% 2293.84% at 56.19% -374%, #FF7878 0%, #DE9FAA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #CFC3F0;
    margin: 0;
    
}

.username {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.username_field {
    width: 40%;
    margin: 30px 0px;
    padding: 10px;
    box-sizing: border-box;
    border: 0;
    background: radial-gradient(492.22% 664.29% at 46.4% -224.44%, rgba(249, 234, 255, 0.44) 0%, rgba(211, 221, 255, 0.38) 100%);
    box-shadow: inset 0px 4px 17px rgba(0, 0, 0, 0.04);
    font-size: 16px;
    font-family: 'Nunito';
}

.username_field:focus {
    border: 0;

    box-shadow: inset 0px 4px 17px rgba(0, 0, 0, 0.08);

    outline:none;
}

.username_field_empty {
    width: 40%;
    margin: 30px 0px;
    padding: 10px;
    box-sizing: border-box;
    border: 0;
    background: radial-gradient(492.22% 664.29% at 46.4% -224.44%, rgba(238, 11, 38, 0.44) 0%, rgba(255, 211, 214, 0.38) 100%);
    box-shadow: inset 0px 4px 17px rgba(0, 0, 0, 0.04);
    font-size: 16px;
    font-family: 'Nunito';
}

@media screen and (max-width: 800px) {
  .username_field {
    width: 80%;
  }
  .username_field_empty {
    width: 80%;
  }
  .title {
    font-size: 80px;
    line-height: 80px;
  }
  .title_empty{
    font-size: 80px;
    line-height: 80px;
  }
}
