.color_their {
    background: linear-gradient(108.72deg, rgba(107, 246, 255, 0) -18.29%, #D0D5FF 96.15%);
}

.color_another {
    background: linear-gradient(108.3deg, #F9EAFF 22.23%, rgba(154, 194, 255, 0.2) 109.35%);
}