.flex_item {
    display: flex;
}

.message {
    width: 100%;
    flex-direction: column;
}

.message__another {
    margin: 10px 0px 4px 0px;
}

@media screen and (max-width: 800px) {
  .message__author {
    margin: 0px;
  }
}

.message__text_box__their {
    justify-content: flex-end;
}

.message__text_box__another {
    justify-content: flex-start;
}

.message__author {
    margin: 10px 0px 4px 0px;

    font-size: 13px;
    font-style: italic;
}

@media screen and (max-width: 800px) {
  .message__author {
    margin: 0px;
    font-size: 24px;
  }
}

.author__their {
    text-align: right;
}

.author__another {
}

.text_box__text {
    padding: 25px 10px 10px 10px;
    flex-grow: 4;

    border-radius: 14px 0px 14px 5px;

    font-size: 16px;
    word-break: break-all;
}


@media screen and (max-width: 800px) {
  .text_box__text {
    font-size: 28px;
    word-break: break-all;
  }
}

.text_box__flex_separator{
    flex-grow: 1;
}

.text_box__their {
    border-radius: 14px 0px 14px 5px;
}

.text_box__another {
    border-radius: 0px 14px 5px 14px;
}